<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Fehler</title>
</head>
<body>
  <h1>⚠️ Fehler</h1>
  <p><%= message %></p>
  <p><a href="/">Zurück zur Startseite</a></p>
<%- include('partials/footer') %>

</body>
</html>
