<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Elternbeiratswahl</title>
</head>
<body>
  <h1>Elternbeiratswahl 2025</h1>
  <form action="/vote" method="post">
    <label for="token">Bitte geben Sie Ihren Wahltoken ein:</label><br>
    <input type="text" id="token" name="token" required />
    <button type="submit">Weiter</button>
  </form>
</body>
</html>
