<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Danke</title>
</head>
<body>
  <h1>Vielen Dank für Ihre Teilnahme!</h1>
  <p>Ihre Stimme für die <%= school === "gs" ? "Grundschule" : "Mittelschule" %> wurde erfolgreich abgegeben.</p>
</body>
</html>
