<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Danke</title>
</head>
<body>
  <h1>✅ Vielen Dank für Ihre Teilnahme!</h1>
  <p>Sie haben erfolgreich für die 
     <strong><%= school === "gs" ? "Grundschule" : "Mittelschule" %></strong> abgestimmt.
  </p>

  <h2>Gewählte Kandidaten:</h2>
  <ul>
    <% choices.forEach(c => { %>
      <li><%= c %></li>
    <% }) %>
  </ul>
<%- include('partials/footer') %>

</body>
</html>
